body {
  padding: 32px 0px 124px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-image: url("images/bg.png");
  cursor: url('images/cursor.png'), auto;	
  position: relative;
}

.ad {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.ad2 {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.img_big {
  width: 500px;
}

.hero-content {
  display: flex;
}

h1, h2, h3, h4, p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 700px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  text-decoration: underline;
}

.window {
  margin: 24px;
}

.gif_img {
  width: 400px;
}

.image_wrapper {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 300px;
  height: auto;
}

.background_black {
  background-color: black;
}

.animated_rainbow_1 {
  font-size: 42px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
  -webkit-animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
}

@keyframes animatedBackground_a {
  0% { background-position: 0 0 }
  100% { background-position: -500px 0 }
}

.animated_rainbow_3 {
  background: #fff;
  color: #F00;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 42px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF0000;
  -webkit-animation: animatedBackground_c 2s infinite alternate;
}

@keyframes animatedBackground_c {
  0% {-webkit-text-stroke-color: #ff8b00}
  10% {-webkit-text-stroke-color: #e8ff00}
  20% {-webkit-text-stroke-color: #5dff00}
  30% {-webkit-text-stroke-color: #00ff2e}
  40% {-webkit-text-stroke-color: #00ffb9}
  50% {-webkit-text-stroke-color: #00b9ff}
  60% {-webkit-text-stroke-color: #002eff}
  70% {-webkit-text-stroke-color: #5d00ff}
  80% {-webkit-text-stroke-color: #e800ff}
  90% {-webkit-text-stroke-color: #ff008b}
  100% {-webkit-text-stroke-color: #ff0000}
}

.orange { color: #ffa500; }
.blue { color: #0000ff; }
.green { color: #00ff00; }
.red { color: #ff0000; }
.purple { color: #800080; }
.yellow { color: #ffff00; }
.pink { color: #ff00ff; }
.brown { color: #a52a2a; }
.skyblue { color: #87ceeb; }
.black { color: #000000; }
.white { color: #ffffff; }

.contributor_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  align-items: center;
  justify-content: center;
}
.contributor {
  width: 200px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contributor h4, .contributor p { width: 100%; }
.contributor img {
  height: 200px;
  width: auto;
}

.tooltip {
  display: none;
}

.greet_window:hover + .tooltip {
  display: block;
}
